/*
# animation

## animation-fail
`animation-fail` は、選択したアイテムが間違っていた場合に使用する

```
<div style="width:100px; height:100px; background-color:#ffcccc; border-radius:10px;" onclick="(function(e) { e.className='animation-fail'; setTimeout(function() { e.className='';}, 1000);})(this)"></div>
```
 */

.animation-fail {
  animation-name: animation-fail;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes animation-fail {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

/*
## animation-success
`animation-success` は、選択したアイテムが正解だった場合に使用する

```
<div style="width:100px; height:100px; background-color:#ffcccc; border-radius:10px;" onclick="(function(e) { e.className='animation-success'; setTimeout(function() { e.className='';}, 1000);})(this)"></div>
```
 */
.animation-success {
  animation-name: animation-success;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animation-success {
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/*
## animation-hint

```
<div class="animation-hint" style="width:100px; height:100px; background-color:#ffcccc; border-radius:10px;"></div>
```
 */
.animation-hint {
  animation-name: animation-hint;
  animation-duration: 1.0s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes animation-hint {
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(5deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

